* {
  box-sizing: border-box; }

html {
  height: 100%;
  font-family: Consolas, monaco, monospace; }

body {
  margin: 0; }

footer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 1em;
  display: table-cell; }
  footer section {
    position: relative;
    width: 33%;
    height: 140px;
    padding: 0.2em 0.5em 0.2em;
    float: left;
    overflow: auto; }
    footer section:nth-child(2) {
      border-left: 1px solid black;
      border-right: 1px solid black; }
    footer section.notifications-list {
      padding-left: 0.5em;
      overflow-y: auto;
      white-space: normal; }
      footer section.notifications-list .notification {
        margin: 0; }
        footer section.notifications-list .notification:before {
          content: attr(data-messageCount);
          color: red; }
    footer section .projectMod {
      float: right; }
    footer section .selected {
      color: green;
      font-weight: bold; }
    footer section .center {
      margin: 0 auto;
      text-align: center; }
    footer section .right {
      float: right; }
    footer section #version {
      position: absolute;
      bottom: 0;
      right: 0.5em; }

input.date {
  width: 11ex;
  text-align: center; }

input[type=file] {
  display: none; }

#day_amount {
  width: 3em; }

.noSelect {
  user-select: none; }

.noWrap {
  white-space: nowrap; }

#tooltip {
  display: none;
  background-color: black;
  color: white;
  font-size: 0.8em;
  position: absolute;
  margin: 0.3em;
  padding: 0.3em;
  border-radius: 0.3em;
  transform: translate(-50%); }

canvas {
  display: block; }
